In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [4]:
ser = Series(randn(6), index = [[1,1,1,2,2,2], ['a', 'b', 'c', 'a', 'b', 'c']])

In [5]:
ser

1  a   -0.860195
   b   -0.318948
   c   -0.638826
2  a   -0.658446
   b    0.274392
   c   -0.524541
dtype: float64

In [6]:
ser.index

MultiIndex([(1, 'a'),
            (1, 'b'),
            (1, 'c'),
            (2, 'a'),
            (2, 'b'),
            (2, 'c')],
           )

In [7]:
ser[1]

a   -0.860195
b   -0.318948
c   -0.638826
dtype: float64

In [8]:
ser[2]

a   -0.658446
b    0.274392
c   -0.524541
dtype: float64

In [9]:
ser[:, 'a']

1   -0.860195
2   -0.658446
dtype: float64

In [10]:
dframe = ser.unstack()

In [11]:
dframe

          a         b         c
1 -0.860195 -0.318948 -0.638826
2 -0.658446  0.274392 -0.524541

In [12]:
dframe2 = DataFrame(np.arange(16).reshape(4,4), index = [['a', 'a', 'b', 'b'], [1,2,1,2]], columns = [['NY', 'NY', 'LA', 'SF'], ['cold', 'hot', 'hot', 'cold']])

In [13]:
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [14]:
dframe2.index.names = ['INDEX_1', 'INDEX_2']
dframe2.columns.names =['Cities', 'Temp']
dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [15]:
dframe2.swaplevel('Cities', 'Temp', axis = 1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [16]:
dframe2.sortlevel(1)

AttributeError: 'DataFrame' object has no attribute 'sortlevel'

In [17]:
dframe2.sum(level = 'Temp', axis = 1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27